.about {
  text-align: center;
}

.about__title {
  margin: 0 0 47px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-title;

  @media (max-width: $desktop-width) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.about__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 263px));
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1166px;
  width: 80.98%;
  margin: 0 auto 151px;
  counter-reset: about-counter;

  @media (max-width: $desktop-width) {
    grid-template-columns: repeat(2, 263px);
    row-gap: 40px;
    margin-bottom: 70px;
    width: 72%;

    @media (max-width: $tablet-width) {
      display: block;
      width: 82%;
      padding: 29px;
      margin-bottom: 11px;
    }
  }
}

.about__item {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  &::before {
    counter-increment: about-counter;
    content: "0" counter(about-counter);
    display: block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: $color-accent;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 39px;

    &::before {
      margin-bottom: 14px;
    }
  }
}
