.promo {
  width: 100%;
  min-height: 825px;
  margin-bottom: 150px;
  background-image: url("../img/background_main.jpg");
  background-size: cover;
  background-color: $black;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background_main@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    padding: 0;
    margin-bottom: 349px;
    height: 340px;
    min-height: 340px;
    background-image: url("../img/background_main-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background_main-tablet@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    height: 390px;
    background-image: url("../img/background_main-mob.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background_main-mob@2x.jpg");
    }
  }
}

.promo__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 61%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 323px;

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr;
    width: 68%;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    width: 90%;
  }
}

.promo__text {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px;

  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;
  letter-spacing: -0.005em;

  @media (max-width: $desktop-width) {
    font-size: 30px;
    line-height: 42px;

    margin: 134px 0 20px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    margin-top: 120px;
  }
}

.promo__lead {
  margin-bottom: 0;

  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba($white, 0.8);

  @media (max-width: $desktop-width) {
    font-size: 18px;
    margin: 0 0 80px;
    text-align: center;
  }

  @media (width: $mobile-width) {
    margin: 0 0 70px;
  }
}

.promo__text-box {
  max-width: 393px;
  margin-right: 30px;

  @media (max-width: $desktop-width) {
    max-width: 435px;
    grid-row: 1;
    grid-column: 1/-1;
    justify-self: center;
    margin: 0 auto;
  }
}

.promo__img-box img {
  margin-bottom: 20px;

  @media (max-width: $desktop-width) {
    position: absolute;
    top: 23px;
    left: 22px;

    margin: 0;
  }

  @media (max-width: $tablet-width) {
    top: 25px;
    left: 17px;
  }
}
