.site-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 98px;
  grid-row: 3;

  @media (max-width: $desktop-width) {
    padding-bottom: 55px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 51px;
  }
}

.site-footer__title {
  margin: 0 0 30px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-title;
  text-align: center;

  @media (max-width: $desktop-width) {
    margin: 0 0 20px;
    font-size: 24px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.site-footer__address {
  max-width: 555px;
  width: 38.54%;
  margin: 0 auto 42px;

  font-size: 17px;
  line-height: 31px;
  color: rgba($black, 0.7);
  text-align: center;

  @media (max-width: $desktop-width) {
    max-width: 629px;
    width: 81.92%;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    width: 84%;
    margin-bottom: 25px;
  }
}

.site-footer__map {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.site-footer__map iframe {
  z-index: 1;
  margin: 0 auto;
  width: 66.46%;
  height: 530px;

  @media (max-width: $desktop-width) {
    width: 90.885416%;
    height: 545px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 250px;
  }
}

.site-footer__map img {
  display: block;
  margin: 0 auto;
  max-width: 957px;
  width: 66.46%;
  height: 530px;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media (max-width: $desktop-width) {
    width: 90.88%;
    height: 545px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 250px;
  }
}

.site-footer__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 480px;
  max-width: 550px;
  width: 38%;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    width: 72.66%;
    max-width: 558px;
  }

  @media (max-width: $tablet-width) {
    min-width: 320px;
    justify-content: center;
    width: 100%;
    row-gap: 22px;
  }
}

.site-footer__item {
  @media (max-width: $tablet-width) {
    &:nth-child(2n + 1) {
      margin-right: 15px;
    }
  }
}

.site-footer__item svg {
  vertical-align: middle;
  margin-right: 15px;
  fill: none;
}

.site-footer__link {
  font-size: 16px;
  line-height: 32px;
  color: rgba($black, 0.5);
  transition: color 0.2s;

  @media (max-width: $desktop-width) {
    line-height: 22px;
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &:active {
    opacity: 50%;
  }
}
