.site-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  @media (max-width: $desktop-width) {
    &--nojs {
      display: grid;
      position: static;
      grid-template-rows: repeat(3, 1fr);
      height: 500px;
    }

    &--nojs .site-nav__toggle {
      display: none;
    }

    &--nojs .site-nav__list {
      display: block;
      grid-row: 2;
    }

    &--nojs .promo__text {
      grid-row: 2;
    }

    &--nojs .form {
      grid-row: 3;
    }
  }
}

.site-header__wrapper {
  width: 61%;
  max-width: 880px;
  margin: 0 auto;
}
