.site-header {
  position: relative;
  padding: 0 0 240px;

  @media (max-width: $desktop-width) {
    padding: 0;
    display: grid;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../img/background_main.jpg");
    background-size: cover;
    background-color: $black;
    background-position: center;

    @media (max-width: $desktop-width) {
      position: static;
      min-height: 340px;
      grid-row: 1;
      grid-column: 1 / -1;
      background-image: url("../img/background_main-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/background_main-mob.jpg");
    }
  }
}

.site-header__wrapper {
  width: 61.11111%;
  max-width: 880px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    display: contents;
  }

  @media (max-width: $tablet-width) {
    display: contents;
  }
}
