.site-header {
  position: relative;
  padding: 0 0 240px;
  margin-bottom: 150px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../img/background_main.jpg");
    background-size: cover;
    background-color: $black;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background_main@2x.jpg");
    }

    @media (max-width: $desktop-width) {
      position: static;
      min-height: 340px;
      grid-row: 1;
      grid-column: 1 / -1;
      background-image: url("../img/background_main-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background_main-tablet@2x.jpg");
      }
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/background_main-mob.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background_main-mob@2x.jpg");
      }
    }
  }

  @media (max-width: $desktop-width) {
    padding: 0;
    margin-bottom: 67px;
    display: grid;

    &--nojs {
      grid-template-rows: repeat(3, 1fr);
    }

    &--nojs .site-nav__toggle {
      display: none;
    }

    &--nojs ul {
      display: block;
    }

    &--nojs::before,
    &--nojs .promo__text {
      grid-row: 2;
    }

    &--nojs .form {
      grid-row: 3;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.site-header__wrapper {
  width: 61%;
  max-width: 880px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    display: contents;
  }

  @media (max-width: $tablet-width) {
    display: contents;
  }
}
