.types {
  padding: 149px 0 150px;
  background-color: $color-background-types;
  text-align: center;

  @media (max-width: $desktop-width) {
    padding: 50px 0 70px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.types h2 {
  margin: 0 0 51px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $color-title;

  @media (max-width: $desktop-width) {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.types h3 {
  margin: 15px 0 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  order: 2;
}

.types ul {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fit, 342px);
  justify-content: space-between;
  max-width: 1126px;
  width: 79.19%;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 590px;
    row-gap: 48px;
    column-gap: 50px;
  }

  @media (max-width: $tablet-width) {
    display: block;
    max-width: 270px;
    width: 85%;
  }
}

.types li {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 0;

  @media (max-width: $desktop-width) {
    flex-basis: calc(50% - 25px);
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }

  &:nth-child(3n + 1) {
    margin-top: 10px;

    @media (max-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &:nth-child(3n + 1)::before {
    content: "";
    position: absolute;
    top: 156px;
    left: -60px;
    z-index: -1;
    width: 126px;
    height: 126px;
    border: 27px solid $color-accent;
    border-radius: 50%;

    @media (max-width: $desktop-width) {
      top: 201px;
      left: -38px;
      width: 91px;
      height: 91px;
      border-width: 18px;
    }

    @media (max-width: $tablet-width) {
      top: 201px;
      left: -25px;
    }
  }

  &:nth-child(3n + 2) {
    margin-top: 39px;

    @media (max-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &:nth-child(3n + 2)::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -19px;
    width: 31px;
    height: 31px;
    border: 8px solid $color-accent;

    @media (max-width: $desktop-width) {
      content: none;
    }
  }

  &:nth-child(3n + 2)::after {
    content: "";
    position: absolute;
    bottom: 31px;
    right: -22px;
    width: 31px;
    height: 31px;
    border: 8px solid $color-accent;

    @media (max-width: $desktop-width) {
      content: none;
    }
  }

  &:nth-child(3n)::before {
    content: "";
    position: absolute;
    top: -24px;
    right: -36px;
    width: 60px;
    height: 60px;
    border: 17px solid $color-accent;
    border-radius: 50%;

    @media (max-width: $desktop-width) {
      top: -20px;
      right: -25px;
      width: 42px;
      height: 42px;
      border-width: 13px;
    }

    @media (max-width: $tablet-width) {
      top: -18px;
      right: -13px;
    }
  }
}
