.video {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 120px;
  margin-bottom: 144px;
  text-align: center;
  background-image: linear-gradient(to top, transparent 98px, $color-background-video 98px);

  @media (max-width: $desktop-width) {
    padding-top: 70px;
    margin-bottom: 64px;

    background-image: linear-gradient(to top, transparent 85px, $color-background-video 85px);
  }

  @media (max-width: $tablet-width) {
    background-image: linear-gradient(to top, transparent 54px, $color-background-video 54px);
    padding-top: 84px;
  }
}

.video__title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;

  @media (max-width: $desktop-width) {
    font-size: 24px;
  }
}

.video__text {
  max-width: 340px;
  margin: 0 auto 56px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($white, 0.7);

  @media (max-width: $desktop-width) {
    max-width: 430px;
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    max-width: 288px;
    margin-bottom: 52px;
    letter-spacing: -0.005em;
  }
}

.video__wrapper {
  width: 100%;
  max-width: 929px;
  margin: 0 auto;
}

.video__player {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: $black;

  @media (max-width: $desktop-width) {
    width: 65.49%;
  }

  @media (max-width: $tablet-width) {
    width: calc(100% - 32px);
    letter-spacing: -0.01em;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: $color-accent;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    width: 90px;
    height: 90px;
    // top: 33%;
    // left: 41%;
  }

  @media (max-width: $tablet-width) {
    width: 65px;
    height: 65px;
    // top: 30%;
    // left: 39%;
  }

  &:hover,
  &:active {
    opacity: 50%;
    transition: opacity 0.2s;
  }

  &:active {
    box-shadow: 0 0 10px $color-accent;
  }
}
