//Colors

$black: #000000;
$color-title: #1f1f1f;
$white: #ffffff;
$color-border: #c9ccd4;
$color-accent: #0ad9c6;
$color-nav-mob: #48494d;
$color-background-nav-mob: #f6f6f6;
$color-background-types: #f6f7f9;
$color-background-video: #131314;
$color-error: #cc0000;

//Fonts

$font-main: "Open Sans", "Arial", sans-serif;

//Views

$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;
