// Global

@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixin.scss";
@import "global/global.scss";
@import "global/fonts.scss";

//Blocks

@import "blocks/page.scss";
@import "blocks/site-nav.scss";
@import "blocks/site-header.scss";
@import "blocks/promo.scss";
@import "blocks/form-inner.scss";
@import "blocks/about.scss";
@import "blocks/types.scss";
@import "blocks/video.scss";
@import "blocks/site-footer.scss"
